<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--下单 创建大头娃娃学生对象-->
    <bean id="datouwawa" class="com.squ.entity.Student"/>

<!--    创建黑熊-->
    <bean id="heixiong" class="com.squ.entity.Student"/>
</beans>
